# Created by .ignore support plugin (hsz.mobi)
### Java START ############################# 
*.class
### Java END #############################


### Mobile Tools for Java (J2ME) START #############################
.mtj.tmp/
### Mobile Tools for Java (J2ME) END #############################


### Package Files START #############################
*.jar
*.war
*.ear
### Package Files END #############################


### Virtual machine crash logs START #############################
hs_err_pid*
### Virtual machine crash logs END #############################


### Maven START #############################
**/target
**/dependency-reduced-pom.xml
### Maven END #############################


### OS X START #############################
**/.DS_Store
### OS X END #############################


### JetBrains IDEs START #############################
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml
.idea/
*.ipr
*.iws

#IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
### JetBrains IDEs END #############################


### Lib folder START #############################
libs/
### Lib folder END #############################


### Eclipse START #############################
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.recommenders/
.apt_generated/
.factorypath
.externalToolBuilders/
*.launch
.target
.cache-main
.scala_dependencies
.worksheet
### Eclipse END #############################
